@charset "UTF-8";

	body {
		margin: 0;
		font-family: Arial, sans-serif;
	}
	
	.footer {
		background-color: #1c2f50;
		color: #ffffff;
		padding: 20px 10px;
	}
	
	.footer-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 1200px;
		margin-left: 110px;
		align-items: center;
	}
	
	.footer-logo {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	
	.footer-logo img {
		width: 100px;
		height: auto;
	}
	
	.footer-logo h2 {
		margin: 0;
		font-size: 20px;
		line-height: 1.5;
		color: #ffffff;
	}
	
	.footer-links {
		text-align: left;
	}
	
	.footer-links h4 {
		margin-bottom: 10px;
	}
	
	.footer-links ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	
	.footer-links ul li {
		margin: 5px 0;
	}
	
	.footer-links ul li a {
		text-decoration: none;
		color: #ccc;
		transition: color 0.3s;
	}
	
	.footer-links ul li a:hover {
		color: #fff;
	}
	
	.footer-socials {
		display: flex;
		gap: 15px;
		font-size: 20px;
	}
	
	.footer-socials a {
		color: #ffffff;
		text-decoration: none;
		transition: color 0.3s;
	}
	
	.footer-socials a:hover {
		color: #ccc;
	}
	
	.footer-bottom {
		background: #ffffff;
		color: #000000;
		text-align: center;
		font-size: 14px;
		padding: 10px 0;
	}
