@charset "UTF-8";

.sidebar {
  width: 220px;
  background-color: #1c2f50;
  color: white;
  padding-top: 20px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: left;
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #3a4b70;
  color: white;
}